<mat-card class="puzzle-card">
  <mat-card-header>
    <mat-card-title>Binary Puzzle</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="space-around end">
    <mat-form-field>
      <mat-select placeholder="Grid size" [(value)]="gridSize" (selectionChange)="reset()">
        <mat-option *ngFor="let size of gridSizes" [value]="size.value">
          {{size.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Pre built" [(value)]="prebuilt" (selectionChange)="setPrebuilt()">
        <mat-option *ngFor="let puzzle of gridPuzzles" [value]="puzzle.id">
          {{puzzle.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <table class="puzzle">
      <tr *ngFor="let row of tableData; let rowIdx = index">
        <td *ngFor="let col of row; let colIdx = index" id="cell-{{ rowIdx }}-{{ colIdx }}"
          (click)="updateCell($event.target.id)" [ngClass]="{ 'given': isCellGiven(rowIdx, colIdx) }">
          {{ col.value }}
        </td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="setPrebuilt()" [disabled]="solveRunning">Reset</button>
    <button mat-raised-button (click)="solve()" [disabled]="solveRunning">Solve</button>
  </mat-card-actions>
</mat-card>
